@import 'tailwindcss';

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* 커스텀 유틸리티 */
@layer utilities {
  .mobile {
    @apply block sm:hidden;
  }
  .desktop {
    @apply hidden sm:block;
  }
}

@font-face {
  font-family: 'RiaSans';
  src: url('/fonts/RiaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RiaSans';
  src: url('/fonts/RiaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RiaSans';
  src: url('/fonts/RiaSans-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PartialSans';
  src: url('/fonts/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PretendardVariable';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-3Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-4Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-5Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-6SSemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-7Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
