@import 'tailwindcss';

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* 커스텀 유틸리티 */
@layer utilities {
  .mobile {
    @apply block sm:hidden;
  }
  .desktop {
    @apply hidden sm:block;
  }
}
